$colors: (
  gray: (
    100: #f3f4f6,
    200: #e5e7eb,
    300: #d1d5db,
    400: #9ca3af,
    500: #6b7280,
    600: #4b5563,
    700: #374151,
    800: #1f2937,
    900: #111827,
  ),
  neutral: (
    100: #f5f5f5,
    200: #e5e5e5,
    300: #d4d4d4,
    400: #a3a3a3,
    500: #737373,
    600: #525252,
    700: #404040,
    800: #262626,
    900: #171717,
  ),
  red: (
    100: #fee2e2,
    200: #fecaca,
    300: #fca5a5,
    400: #f87171,
    500: #ef4444,
    600: #dc2626,
    700: #b91c1c,
    800: #991b1b,
    900: #7f1d1d,
  ),
  orange: (
    100: #ffedd5,
    200: #fed7aa,
    300: #fdba74,
    400: #fb923c,
    500: #f97316,
    600: #ea580c,
    700: #c2410c,
    800: #9a3412,
    900: #7c2d12,
  ),
  yellow: (
    100: #fef9c3,
    200: #fef08a,
    300: #fde047,
    400: #facc15,
    500: #eab308,
    600: #ca8a04,
    700: #a16207,
    800: #854d0e,
    900: #713f12,
  ),
  green: (
    100: #dcfce7,
    200: #bbf7d0,
    300: #86efac,
    400: #4ade80,
    500: #22c55e,
    600: #16a34a,
    700: #15803d,
    800: #166534,
    900: #14532d,
  ),
  teal: (
    100: #ccfbf1,
    200: #99f6e4,
    300: #5eead4,
    400: #2dd4bf,
    500: #14b8a6,
    600: #0d9488,
    700: #0f766e,
    800: #115e59,
    900: #134e4a,
  ),
  cyan: (
    100: #cffafe,
    200: #a5f3fc,
    300: #67e8f9,
    400: #06b6d4,
    500: #0891b2,
    600: #0e7490,
    700: #155e75,
    800: #164e63,
    900: #ccfbf1,
  ),
  blue: (
    100: #dbeafe,
    200: #bfdbfe,
    300: #93c5fd,
    400: #60a5fa,
    500: #3b82f6,
    600: #2563eb,
    700: #1d4ed8,
    800: #1e40af,
    900: #1e3a8a,
  ),
  purple: (
    100: #f3e8ff,
    200: #e9d5ff,
    300: #d8b4fe,
    400: #c084fc,
    500: #a855f7,
    600: #9333ea,
    700: #7e22ce,
    800: #6b21a8,
    900: #581c87,
  ),
  pink: (
    100: #fce7f3,
    200: #fbcfe8,
    300: #f9a8d4,
    400: #f472b6,
    500: #ec4899,
    600: #db2777,
    700: #be185d,
    800: #9d174d,
    900: #831843,
  ),
  rose: (
    100: #ffe4e6,
    200: #fecdd3,
    300: #fda4af,
    400: #fb7185,
    500: #f43f5e,
    600: #e11d48,
    700: #be123c,
    800: #9f1239,
    900: #881337,
  ),
);

@mixin coloropacity($usrcolor, $usrshade, $opacity) {
  @each $color, $shades in $colors {
    @if $usrcolor == $color {
      @each $shade, $value in $shades {
        @if $usrshade == $shade {
          color: rgba($value, $opacity);
        }
      }
    }
  }
}
